@import 'variables.scss';
@import 'sideBar';
@import 'classroom.scss';
@import 'landing.scss';

html{
  height:100%;
  width:100%;
}
body{
  font-family: 'Lato', sans-serif !important;
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  .outer-container{
    margin:0;
    height:100%;
    width:100%;
  }
  .content-container{
    height:100%;
    overflow:hidden;
    padding-left:0px;
    padding-right:0px;
    transition:transform ease-in 0.5s;
    .navbar-toggle{
      border:0;
    }
    .navbar{
      background-color:$primary_color;
      border:0;
      border-radius:0;
      margin-bottom:0px;
    }
    .content{
      height:100%;
    }
  }
}
