.sideBar{
  height:100%;
  padding:0;
  z-index:99;
  background-color:$secondary_color;
  transition: transform ease-in 0.5s;
  ul{
    padding-left:20px;
    list-style:none;
    li{
      margin:20px;
      span{
        color:red;
      }
    }
  }
}
.sideBar-toggle{
  margin-left: 9px;
  float:left;
}
//for phones
@media screen and (max-width: 767px) {
  .sideBar{
    width:80%;
    position:absolute;
    transform:translateX(-100%);
  }
  .sideBarOpen{
    opacity:0.9;
    transform:translateX(0);
  }
  .content-container-moveX{
    transform:translateX(80%);
  }
}
