<!DOCTYPE HTML>
<html>
	<head>
		<title>Famingo</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="../css/landing.css">
	</head>
	<body class="transparent">
		<div class="wrapper-bubble">
		    <ul class="bg-bubbles">
		      <li></li>
		      <li></li>
		      <li></li>
		      <li></li>
		      <li></li>
		      <li></li>
		      <li></li>
		      <li></li>
		      <li></li>
		      <li></li>
		    </ul>
		</div>
		<div class="logotype">Famingo</div>

		<div class="nav-items float-right">
			<a href="http://chevaldeguerre.xyz/register" class="no-decoration no-underline"><button class="btn-5">Sign Up</button></a>
		</div>
		<div style="padding-top: 25px;" class="nav-items float-right">
			<a href="http://chevaldeguerre.xyz/login" class="no-decoration">Sign In</a>
		</div>
		<div align="middle" class="centered-middle">
			<h1>Classroom. Reinvented.</h1>
			<h4 class="secondary-text">Bringing education to the 21<sup>th</sup> century</h4>
			<a href="http://chevaldeguerre.xyz/login" class="no-decoration no-underline"><button class="btn-5">Try now</button></a>
		</div>
	</body>
</html>
