<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<form action="/register" method="post" id="register">
    <input type="text" id="name" name="name" ng-model="name" placeholder="Full Name"><br>
    <input type="text" id="email" name="email" ng-model="email" placeholder="Email Address"><br>
    <input type="password" id="password" name="password" ng-model="password" placeholder="Password"><br>
    <button id="registerSubmit" type="submit" value="submit" class="btn btn-primary" ng-click="vm.submit(email, password)">Register</button>
</form>

</body>
</html>