.sideBar {
  height: 100%;
  padding: 0;
  z-index: 99;
  background-color: #D3D6DB;
  transition: transform ease-in 0.5s; }
  .sideBar ul {
    padding-left: 20px;
    list-style: none; }
    .sideBar ul li {
      margin: 20px; }
      .sideBar ul li span {
        color: red; }

.sideBar-toggle {
  margin-left: 9px;
  float: left; }

@media screen and (max-width: 767px) {
  .sideBar {
    width: 300px;
    position: absolute;
    transform: translateX(-300px); }

  .sideBarOpen {
    opacity: 0.9;
    transform: translateX(0px); }

  .content-container-moveX {
    transform: translateX(300px); } }
.classroom {
  height: 100%; }
  @media screen and (max-width: 767px) {
    .classroom .shadow-active {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      transition: background-color 0.4s;
      z-index: 99; } }
  .classroom .sendMsg {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px; }

.logotype {
  color: white;
  padding: 25px;
  font-size: 22px;
  line-height: 20px;
  float: left; }

a.no-decoration {
  color: white; }

a.no-decoration:visited {
  color: white; }

a.no-underline {
  text-decoration: none; }

a.no-decoration:hover {
  color: white; }

.transparent {
  background-color: transparent;
  color: white; }

.right-float {
  float: right; }

.nav-items {
  font-size: 14px;
  font-weight: bold; }

.centered-middle {
  width: 100%;
  position: absolute;
  top: 50%;
  padding: 0px 25px;
  transform: translateY(-50%); }

.secondary-text {
  opacity: 0.6; }

/* GENERAL BUTTON STYLING */
button.btn-5 {
  z-index: 9001; }

button.btn-5,
button.btn-5::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

button.btn-5 {
  background: none;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: block;
  margin: 17.5px 25px;
  padding: 5px 10px;
  font-weight: bold;
  position: relative; }

button.btn-5::before,
button.btn-5::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1; }

button.btn-5:hover {
  color: #000000; }

.btn-5 {
  overflow: hidden; }

.btn-5::after {
  /*background-color: #f00;*/
  height: 100%;
  left: -60%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0; }

button.btn-5:focus {
  outline: 0; }

.btn-5:hover:after {
  height: 100%;
  width: 200%; }

.wrapper-bubble {
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #212121 0%, #424242 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }

.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear; }

.bg-bubbles li:nth-child(1) {
  left: 10%; }

.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 17s;
  animation-duration: 17s; }

.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
  animation-delay: 4s; }

.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
  animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25); }

.bg-bubbles li:nth-child(5) {
  left: 70%; }

.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2); }

.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
  animation-delay: 7s; }

.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s; }

.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3); }

.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
  animation-delay: 11s; }

@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-1200px) rotate(600deg);
    transform: translateY(-1200px) rotate(600deg); } }
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-1200px) rotate(600deg);
    transform: translateY(-1200px) rotate(600deg); } }
html {
  height: 100%;
  width: 100%; }

body {
  font-family: 'Lato', sans-serif !important;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }
  body .outer-container {
    margin: 0;
    height: 100%;
    width: 100%; }
  body .content-container {
    height: 100%;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
    transition: transform ease-in 0.5s; }
    body .content-container .navbar-toggle {
      border: 0; }
    body .content-container .navbar {
      background-color: #EFF0F4;
      border: 0;
      border-radius: 0;
      margin-bottom: 0px; }
    body .content-container .content {
      height: 100%; }
