.nav {
  padding: 0;
  background-color: pink;
  height: 100%; }
  .nav .logo {
    width: 100%;
    height: 50px;
    background-color: #00b3ee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
  .nav ul {
    padding-left: 20px;
    list-style: none; }
    .nav ul li {
      margin: 20px; }
      .nav ul li span {
        color: red; }

.classroom {
  background-color: lightgreen; }

html {
  height: 100%; }

body {
  font-family: 'Lato', sans-serif !important;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }
  body header {
    padding: 10px;
    height: 50px;
    background-color: lightgoldenrodyellow; }
    body header span {
      float: right;
      margin-left: 20px; }
      body header span i {
        margin-right: 5px; }
